#tabs {
    display: flex;
    justify-content: space-between;
    
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin: 2em auto 0.5em auto;
}

#tabs li {
    display: inline-block;
    margin: 0px 10px 10px 0px;
}

#tabs li a {
    display: block;
    line-height: 24px;
    border: 2px solid #f7bd00;
    font-weight: bold;
    padding: 7px 15px;
    /* color: #ffffff; */
    border-radius: 3px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}